

<div class="header-wrap">

  <!-- logo -->

  <div class="logobar">
    <div class="logo">
      <a href="/">
        <img src="http://static.heineiuo.com/pkg/smile_main/img/logo_640_640.png" alt="SMILE">
        <span class="logo-title">Smile</span>
      </a>
    </div>
  </div>


  <!-- END logo -->

  <!-- Search bar -->

  <div class="searchbar">
    
    <input class="search" id="global_search" name="keywords" type="text" placeholder="搜索"></input>
    <button>
      <i class="icomoon-search"></i>
    </button>

  </div>

  <!-- END  search bar -->
  
  <!-- 左侧标签bar 切换视图 -->
  <div class="tabbar">
    
    <div class="tabs">

      <!-- 首页 信息流 -->
      <a class="tab tab-home" href="/">
        <span>首页</span>
      </a>

      <!-- 通讯录，找人 -->
<!--           <a class="tab tab-contacts" href="/contacts">
        <i class="icomoon-stackexchange"></i>
        <span>通讯录</span>
      </a> -->

      <!-- 应用，网站，app -->
      <a class="tab tab-apps" href="/apps">
        <span>应用</span>
      </a>
     
     <!-- 我
      <a class="tab tab-me" href="/me">
        <span>我</span>
      </a> 
       -->

    </div>

  </div>
  <!-- END 左侧标签bar -->
  

  <!-- 导航bar 指示用户所在位置 (始终有) -->
  <div class="navbar">
    
    <div class="title"></div>

  </div>
  <!-- END 导航bar -->


  <!-- 操作bar -->
  <div class="actionbar">
  
      <!-- 我 -->
      <span class="action action-me">

        <button class="btn-avatar">
          <div class="avatar-unlogged need-tooltip" title="登陆"></div>
          <div class="avatar"></div>
        </button>

        <div class="menu menu-avatar">
          <ul>
            <li>
              <a id="nickname"></a>
            </li>
            <li>
              <a href="/me">
                <i class="icomoon-th"></i>
                用户设置
              </a>
            </li>
            <li>
              <a href="/logout">
                <i class="icomoon-off"></i>
                退出账号
              </a>
            </li>
          </ul>
        </div>

      </span>

      <!-- 更多 -->
      <span class="action action-more">
        <button class="need-tooltip" title="更多">
          <i class="icomoon-ellipsis-vertical"></i>
        </button>
        <div class="menu">
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
      </span> 
        

  </div>
  <!-- END 操作bar -->

  
</div>
<!-- end header-wrap -->

