<div class="main">


  <div class="main-bg"></div>
  
  <div id="stateheaderbar" class="header"></div>

  <!-- start wrap -->

  <div id="statecontent" class="content">
    
    <!--<div class="sealed" data-jack="home/home"></div>-->
    <!--<div class="sealed" data-jack="contacts/contacts"></div>-->
    <!--<div class="sealed" data-jack="apps/apps"></div>-->
    <!--<div class="sealed" data-jack="me/me"></div>-->
    <!--<div class="sealed" data-jack="people/mainpage"></div>-->

  </div>
  

</div>