
<div class="login">
  
  <div class="line">
    <div class="tabbar">
      <a href="login" class="tab tab-login">
        <span>登陆</span>
      </a>
      <a href="/register" class="tab tab-register">
        <span>注册</span>
      </a>
    </div>
  </div>
  
  <!-- 用户名6 - 24位 -->
  <div class="line">
    <h6>用户名</h6>
    <input type="text" class="nicename input-text" placeholder="用户名">
  </div>

  <!-- 密码 8 - 24位数字、英文或符号-->
  <div class="line">
    <h6>密码</h6>
    <input type="password" class="password input-text" placeholder="密码">
  </div>

  <div class="line">

    <button id="submitLogin" class="btn-submit btn btn-tall border-blue">
      <span>登录</span>
    </button>

  </div>



</div>




