
<div class="container register">


  <div class="row">

    <form action="" class="form-horizontal">

      <!-- 用户名6 - 24位 -->
      <div class="form-group">
        <label for="" class="col-xs-12 col-sm-offset-3 col-sm-1">用户名</label>
        <div class="col-xs-12 col-sm-4">
          <input id="username" type="text" class="form-control" placeholder="用户名">
        </div>
        <div class="col-xs-12 col-sm-4 error"></div>
      </div>

      <!-- 密码 8 - 24位数字、英文或符号-->
      <div class="form-group">
        <label class="col-xs-12 col-sm-offset-3 col-sm-1">密码</label>
        <div class="col-xs-12 col-sm-4">
          <input id="password" type="password" class="form-control" placeholder="密码">
        </div>
        <div class="col-xs-12 col-sm-4 error"></div>
      </div>

      <!-- 密码 8 - 24位数字、英文或符号-->
      <div class="form-group">
        <label for="" class="col-xs-12 col-sm-offset-3 col-sm-1">密码确认</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" placeholder="再次输入密码">
        </div>
        <div class="col-sm-4"></div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <button id="submitReg" class="form-control btn btn-primary btn-submit">
            注册
          </button>
        </div>

      </div>

    </form>

    <div class="col-sm-offset-4 col-sm-4 text-center">
      <a href="/login">已有账号？点击登录</a>
    </div>


  </div>


</div>