<div class="main">

  <div class="main-bg"></div>

  <div class="header">

    <div class="header-wrap">

      <!-- logo -->

      <div class="logobar">
        <div class="logo">
          <a href="/">
            <img src="http://static.heineiuo.com/pkg/smile_main/img/smile_logo_136_40.png" alt="笑脸logo">
          </a>
        </div>
      </div>


      <!-- END logo -->

      <!-- Search bar -->

      <div class="searchbar">
        
        <input class="search" id="global_search" name="keywords" type="text" placeholder="搜索"></input>
        <button>
          <i class="icomoon-search"></i>
        </button>

      </div>

      <!-- END  search bar -->
      
      <!-- 左侧标签bar 切换视图 -->
      <div class="tabbar">
        
        <div class="tabs">

          <!-- 首页 信息流 -->
          <a class="tab tab-home" href="/">
            <i class="icomoon-home"></i>
            <span>首页</span>
          </a>

          <!-- 通讯录，找人 -->
<!--           <a class="tab tab-contacts" href="/contacts">
            <i class="icomoon-stackexchange"></i>
            <span>通讯录</span>
          </a> -->

          <!-- 应用，网站，app -->
          <a class="tab tab-apps" href="/apps">
            <i class="icomoon-stackexchange"></i>
            <span>应用</span>
          </a>
         
         <!-- 我 -->
          <a class="tab tab-me" href="/me">
            <i class="icomoon-star"></i>
            <span id="nickname"></span>
          </a>        
        </div>

      </div>
      <!-- END 左侧标签bar -->
      

      <!-- 导航bar 指示用户所在位置 (始终有) -->
      <div class="navbar">
        
        <div class="title"></div>

      </div>
      <!-- END 导航bar -->


      <!-- 操作bar -->
      <div class="actionbar">
      


      </div>
      <!-- END 操作bar -->

      
    </div>
    <!-- end header-wrap -->

  </div>

  <!-- END header -->



  <!-- start wrap -->

  <div class="content">
    
    <div class="sealed" data-jack="home/home"></div>
    <div class="sealed" data-jack="contacts/contacts"></div>
    <div class="sealed" data-jack="apps/apps"></div>
    <div class="sealed" data-jack="me/me"></div>


  </div>


</div>